<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/main.css" />
    <title>Main</title>
</head>
<body>
    <div id="wrapper">
        <div class="grid-container">
            <div class="grid-item-left"></div>
            <div class="grid-item">
                <img src="./images/with_computer.jpg">
                <div class="imgText_main">Vo.2D<br>최고의 개발자 구인합니다.</div>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 40 40" aria-hidden="true" id="Previous">
                        <g clip-path="url(#clip0_2450_17212)">
                            <path stroke="#ffffff" d="M39.5 20c0 10.77-8.73 19.5-19.5 19.5S.5 30.77.5 20 9.23.5 20 .5 39.5 9.23 39.5 20Z"></path>
                            <path fill="#ffffff" fill-rule="evenodd" d="M23.09 26.84a.833.833 0 0 1-1.179 0l-6.25-6.25a.833.833 0 0 1 0-1.18l6.25-6.25a.833.833 0 0 1 1.179 1.18L17.43 20l5.66 5.66a.833.833 0 0 1 0 1.18Z" clip-rule="evenodd"></path>
                        </g>
                    </svg>
                </a>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 40 40" aria-hidden="true" id="Next">
                        <g clip-path="url(#clip0_2450_17215)">
                            <path stroke="#ffffff" d="M39.5 20c0 10.77-8.73 19.5-19.5 19.5S.5 30.77.5 20 9.23.5 20 .5 39.5 9.23 39.5 20Z"></path>
                            <path fill="#ffffff" fill-rule="evenodd" d="M16.911 13.16a.833.833 0 0 1 1.179 0l6.25 6.25a.833.833 0 0 1 0 1.18l-6.25 6.25a.833.833 0 1 1-1.179-1.18l5.66-5.66-5.66-5.66a.833.833 0 0 1 0-1.18Z" clip-rule="evenodd"></path>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="grid-item-blank" ></div>
            <div class="grid-item">이런 기업은 어때요?</div>
            <div class="grid-item">
                <img src="./images/airplane.jpg">
                <div class="imgText_left">
                    Vo.2D
                    <span class="side_line">|</span>
                    <span> 리프레쉬 휴가</span>
                    <p style="margin-top:10px">최장 90일 보장</p>
                    <p>비행기 값 50% 지원</p>
                    <p>회사 연계 리조트 무료 이용</p>
                </div>
                <img src="./images/cook.jpg" style="float: right;">
                <div class="imgText_right">
                     C.ook
                    <span class="side_line">|</span>
                    <span>구내식당 무료 이용</span>
                    <p style="margin-top:10px">뷔페식 운영</p>
                    <p>주말 이용 가능</p>
                    <p>균형잡인 아침, 점심, 저녁 제공</p>
                </div>
            </div>
            <div class="grid-item-blank" ></div>
            <div class="grid-item">
                평점 높은 공고
                <span style="float:right">
                    <a href="" style="color:darkgray">더보기<i class="bi bi-plus"></i></a>
                </span>
            </div>
            <div class="grid-item-right"></div>
        </div>

    </div>

</body>
</html>