<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
</head>
<body>
<div th:replace="~{layout/fragments/header :: header}"></div>
<main>
    <div id="skill_select">
        <select id="skillType">
            <option value="" selected>기술스택</option>
            <th:block th:each="skillType : ${skillGubnList}">
                <option th:value="${skillType.code}" th:text="${skillType.name}"></option>
            </th:block>
        </select>
        <select id="workType">
            <option value="" selected>경력</option>
            <th:block th:each="workType : ${workTypeList}">
                <option th:value="${workType.code}" th:text="${workType.name}"></option>
            </th:block>
        </select>
    </div>
    <div id="container">
        <br>
        <div class="grid-item">
            <div class="grid_posting">
                <th:block >
                    <div class="grid_posting_item" th:each="Recentlist : ${ulist}">
<!--                        <a th:href="@{/}">-->
                            <img th:src="@{/static/images/{companyImage}(companyImage=${Recentlist.companyImage})}" style="width: 380px" height="250px">
<!--                        </a>-->
                        <div class="grid_posting_item_enddate">
                          <th:block th:if="${Recentlist.endDate != null}">
                            [[${Recentlist.endDate}]]
                          </th:block>
                            <th:block th:if="${Recentlist.endDate == null}">
                                상시채용
                            </th:block>

                        </div>
                        <p>
                            [[${Recentlist.companyName}]]
                        </p>
                        <p th:text="${#strings.arrayJoin(Recentlist.skillCodes, ', ')}"></p>
                        <span>[[${Recentlist.companyAddress}]]
                                <span class="side_line">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                <span th:if="${Recentlist.jobHistory > 0}"> 경력 [[${Recentlist.jobHistory}]]년 이상</span>
                                <span th:if="${Recentlist.jobHistory <= 0}"> 신입 </span>
                            </span>
                    </div>
                </th:block>
                <th:block>
                    
                </th:block>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{layout/fragments/footer :: footer}"></div>
</body>
<script>
    function getPost(){
        axios.get()
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>
</html>