<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이력서 등록</title>

</head>
<body>
<div th:replace="~{layout/fragments/header :: header}"></div>
<link rel="stylesheet" href="/static/css/resume-create.css">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<main>
    <div class="container">
        <div class="form-container">
            <p class="container-title">이력서 등록</p>
            <div class="form">
                <p><span class="redPoint">* </span>제목</p>
                <input id="title" placeholder="제목을 입력해주세요">
            </div>

            <div class="form margin">
                <div class="grid-form">
                    <div class="form">
                        <p><span class="redPoint">* </span>기본 정보</p>
                        <div class="flex-row">
                            <input id="userName" placeholder="이름" readonly>
                            <input type="date" id="userBirth" placeholder="생년월일" readonly>
                            <input type="number" id="jobHistory" placeholder="경력(신입일시 0)">
                        </div>
                        <div class="flex-row">
                            <input id="userEmail" placeholder="이메일" readonly>
                            <input id="userPhone" placeholder="전화번호" readonly>
                        </div>
                        <div class="flex-row">
                            <div class="flex-row">
                                <input type="text" id="userAddress" class="fifty-top-margin" data-name="주소"
                                       placeholder="주소를 입력하세요" readonly>
                                <input type="text" id="userZonecode" data-name="우편 번호" placeholder="우편번호" readonly>
                                <button class="sub-btn moreWidth" onclick="addressFind()">주소 찾기</button>
                            </div>
                        </div>
                        <input type="text" id="userAddressDetail" class="fifty-top-margin" data-name="상세주소"
                               placeholder="상세주소를 입력하세요"
                               maxlength="50">
                    </div>
                    <div class="attach-container">
                        <img class="img-btn close" src="/static/images/modal_close_btn.svg" onclick="imgDelete()">
                        <label for="imgAttachment">
                            <img class="img-btn" src="/static/images/black_plus_btn.svg" width="30" height="auto"
                                 alt="플러스 이미지">
                        </label>
                        <img class="preview" src="#" style="display:none">
                        <input type="file" id="imgAttachment" accept="image/*" onchange="imgPreview(event)"
                               style="display:none;">
                    </div>
                </div>
            </div>

            <div class="form margin">
                <p>희망 사항</p>
                <div class="flex-row flexCenter">
                    <p>희망근무시간</p>
                    <div class="flex-row flexCenter">
                        <select id="wishTimeStart">
                            <option value="" selected>선택</option>
                            <th:block th:each="wishTime : ${#numbers.sequence(0,23)}">
                                <option th:value="${wishTime}+':00'" th:text="${wishTime}+':00'"></option>
                            </th:block>
                        </select>
                        <p>~</p>
                        <select id="wishTimeEnd">
                            <option value="" selected>선택</option>
                            <th:block th:each="wishTime : ${#numbers.sequence(0,23)}">
                                <option th:value="${wishTime}+':00'" th:text="${wishTime}+':00'"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="flex-row">
                        <select id="workCode">
                            <option value="" selected>직무</option>
                            <th:block th:each="work :${workList}">
                                <option th:value="${work.code}" th:text="${work.name}"></option>
                            </th:block>
                            <!--                    <option>백엔드</option>-->
                            <!--                    <option>프론트엔드</option>-->
                        </select>
                        <input id="wishArea" placeholder="희망근무지역">
                        <input id="wishSalary" placeholder="희망 연봉">
                    </div>
                </div>
            </div>

            <div class="form margin">
                <p>포트 폴리오</p>
                <div>
                    <div class="tabs">
                        <button class="tab active" data-tab="link">링크</button>
                        <button class="tab" data-tab="attach">첨부파일</button>
                    </div>
                </div>
                <div class="noneBoard active" id="link">
                    <input id="portfolioLink">
                </div>
                <div class="noneBoard" id="attach">
                    <div class="potfolio-board" data-name="potfolio">
                        <input class="portfolioAttach" style="width: calc(100% - 8rem)" readonly>
                        <label for="portfileInput" class="sub-btn" style="height: 3rem">찾아보기</label>
                        <input type="file" id="portfileInput" name="files" accept=".doc,.docx,.pdf,.txt,.odt,.rtf"
                               style="display: none" multiple>
                    </div>
                </div>
            </div>
            <div class="form margin">
                <p>자기 소개서</p>
                <div class="board">
                    <div class="introduce-board" data-name="introduce">
                        <input class="introTitle">
                        <textarea class="introText"></textarea>
                    </div>
                    <div class="plus-btn-container flex-row">
                        <div class="plus-btn flex-row" onclick="addElement('introduce')">
                            <img src="/static/images/black_plus_btn.svg" alt="플러스버튼">
                            <div>추가하기</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form margin">
                <p>보유 기술 스택</p>
                <div class="flex-row stack-wrapper board">
                    <th:block th:each="skill :${skillGubnList}">
                        <button onclick="popSkill($(this))" class="add-stack" th:value="${skill.code}"
                                th:text="'+ ' + ${skill.name}">
                        </button>
                    </th:block>
                    <!--                <div class="stack-item">JAVA</div>-->
                    <!--                <div class="stack-item">ReactJS</div>-->
                    <!--                <div class="stack-item">Python</div>-->
                    <!--                <button class="add-stack">+JAVA</button>-->
                </div>
            </div>
            <div class="form margin">
                <p>최종 학력</p>
                <div class="flex-row">
                    <select id="educode" placeholder="학교 구분">
                        <option value="" selected>구분</option>
                        <th:block th:each="education :${educationList}">
                            <option th:value="${education.code}" th:text="${education.name}"></option>
                        </th:block>
                    </select>
                    <input id="enterDate" placeholder="입학년월">
                    <input id="graduateDate" placeholder="졸업년월">
                </div>
                <div class="flex-row">
                    <input id="schoolName" placeholder="학교명">
                    <input id="specialty" placeholder="전공">
                </div>
            </div>
            <div class="form margin">
                <p>병력 사항</p>
                <!--                todo 저기에 data-name을 추가해야하나? -->
                <div class="flex-row">
                    <select id="militaryCode" placeholder="복무 유형">
                        <option value="" selected>구분</option>
                        <th:block th:each="military :${militaryList}">
                            <option th:value="${military.code}" th:text="${military.name}"></option>
                        </th:block>
                    </select>
                    <input type="date" id="enlistDate" placeholder="입대년월">
                    <input type="date" id="releaseDate" placeholder="전역년월">
                </div>
            </div>
            <div class="form margin">
                <p>자격증</p>
                <div class="board">
                    <div class="flex-row license-board" data-name="license">
                        <input class="licenseName" placeholder="자격증명">
                        <input class="licenseCenterName" placeholder="발행처">
                        <input class="passDate" placeholder="합격년월">
                    </div>
                    <div class="plus-btn-container flex-row">
                        <div class="plus-btn flex-row" onclick="addElement('license')">
                            <img src="/static/images/black_plus_btn.svg" alt="플러스버튼">
                            <div>추가하기</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form margin" th:each="activityType : ${activityTypes}">
                <p th:switch="${activityType.name()}">
                    <span th:case="'JOB_CAREER'">직무 관련 경력</span>
                    <span th:case="'JOB_ACT'">직무 관련 활동</span>
                    <span th:case="'SOCIAL_ACT'">사회 경험 활동</span>
                </p>
                <div class="board">
                    <div class="act-board" th:data-name="${activityType.name()}">
                        <div class="flex-row">
                            <input class="actCenterName" placeholder="활동기관명">
                            <input type="date" class="actStart" placeholder="시작년월">
                            <input type="date" class="actEnd" placeholder="종료년월">
                        </div>
                        <textarea class="actContents"></textarea>
                    </div>
                    <div class="plus-btn-container flex-row">
                        <div class="plus-btn flex-row" th:attr="onclick=|addElement('${activityType.name()}')|">
                            <img src="/static/images/black_plus_btn.svg" alt="플러스버튼">
                            <div>추가하기</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form margin">
                <div class="board flex-row bottom-radio">
                    <div>포지션 제안 받고 더 좋은 커리어 기회를 열어둘까요?</div>
                    <div class="flex-row" style="align-items: center">
                        <input type="radio" id="proposalOn" name="options" value="Y">
                        <label for="proposalOn" style="padding-right: 2rem">네</label>
                        <input type="radio" id="proposalOff" name="options" value="N">
                        <label for="proposalOff">아니요</label>
                    </div>
                </div>
            </div>
            <button class="submit-button" id="totalSubmit" onclick="resumeRegist()">이력서 생성</button>
        </div>
    </div>
</main>
<div th:replace="~{layout/fragments/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    const userSession = [[${session.user}]];
</script>
<script>
    let base64img = null;
    let uploadList = [];

    window.onload = function () {
        if(userSession === null){
            alert("로그인 후 이용해주세요");
        } else{
            $('#userName').val(userSession.userName);
            $('#userEmail').val(userSession.userEmail);
            $('#userPhone').val(userSession.userPhone);
            $('#userBirth').val(userSession.userBirth);
        }
    }

    /**
     * 장소 팝업 오픈
     */
    function addressFind() {
        new daum.Postcode({
            oncomplete: function (data) {
                console.log(data);
                $('#userZonecode').val(data.zonecode);
                $('#userAddress').val(data.address);
            }
        }).open();
    }

    /**
     * 이미지 삭제 함수
     */
    function imgDelete() {
        $('.preview').attr('src', '#').hide();
        $('#imgAttachment').val('');
        $('label[for="imgAttachment"]').show();
        $('.close').hide();
        base64img = null;
    }

    /**
     * 이미지 삽입 및 프리뷰 함수
     * @param event
     */
    function imgPreview(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                $('.preview').attr('src', e.target.result).show();
                $('label[for="imgAttachment"]').hide();
                $('.close').show();
                base64img = e.target.result;
                console.log(base64img);
            }
            reader.readAsDataURL(file); // 파일을 Base64로 읽음
        }
    }

    /**
     * 탭 네비게이션 함수
     */
    $(document).ready(function () {
        $('.tab').click(function () {
            let tab_data = $(this).attr('data-tab');

            $('.tab').removeClass('active');
            $(this).addClass('active')

            $('.noneBoard').removeClass('active');
            if (tab_data === "link") {
                $('#link').addClass('active');
            } else if (tab_data === "attach") {
                $('#attach').addClass('active');
            }
        })
    })

    /**
     * 기술스택 토글
     */
    function popSkill(ele) {
        const skillClass = ['add-stack', 'minus-stack'];
        const eleClass = ele.attr('class');

        const addCheck = eleClass === skillClass[0]; // add-stack true

        ele.removeClass(eleClass);
        ele.addClass(addCheck ? skillClass[1] : skillClass[0]);

        ele.text(addCheck ? ele.text().replace('+', '-') : ele.text().replace('-', '+'));
    }


    //todo 컬럼별로 생성하는 갯수 제한하고 함수에 매개변수 하나 추가바람
    // gubn,limit << 로 적어서 컬럼별로 갯수 제한하도록
    function addElement(gubn) {
        const targetDiv = $(`div[data-name="${gubn}"]`);
        const newElement = targetDiv.prop('outerHTML');

        if (targetDiv.length <= 6) {
            targetDiv.last().after(newElement);
        } else {
            alert("생성 횟수는 6개로 제한됩니다.");
        }
    }

    function resumeTotalInfo() {
        let wishTime = $('#wishTimeStart').val() + '-' + $('#wishTimeEnd').val();

        let basicResume = {
            resumeNo: null,
            title: $('#title').val(),
            address: $('#userAddress').val(),
            addressDetail: $('#userAddressDetail').val(),
            zonecode: $('#userZonecode').val(),
            userId: userSession.userId,
            image: base64img.split(',')[1],
            wishArea: $('#wishArea').val(),
            wishSalary: $('#wishSalary').val(),
            wishTime: wishTime,
            workCode: $('#workCode').val(),
            portfolioLink: $('#portfolioLink').val(),
            offerYn: $("input[name='options']:checked").val(),
            jobHistory: $('#jobHistory').val()
        }

        let introArr = [];
        $('.introduce-board').each(function (index) {
            introArr.push({
                resumeNo: 0,
                title: $(this).find('.introTitle').val(),
                content: $(this).find('.introText').val(),
                order: index + 1
            })
        });

        let skillList = [];
        $('.minus-stack')
            .map(function () {
                skillList.push({
                    resumeNo: 0,
                    skillCode: $(this).val()
                });
            });

        let education = {
            educationCode: $('#educode').val(),
            schoolName: $('#schoolName').val(),
            specialty: $('#specialty').val(),
            enterDate: $('#enterDate').val(),
            graduateDate: $('#graduateDate').val(),
        }

        let military = {
            resumeNo: 0,
            enlistDate: $('#enlistDate').val(),
            releaseDate: $('#releaseDate').val(),
            militaryCode: $('#militaryCode').val(),
        }

        let licenseArr = [];
        $('.license-board').each(function () {
            licenseArr.push({
                resumeNo: 0,
                licenseName: $(this).find('.licenseName').val(),
                licenseCenterName: $(this).find('.licenseCenterName').val(),
                passDate: $(this).find('.passDate').val()
            })
        });

        let potfolioArr = [];
        uploadList.forEach(function (element) {
            potfolioArr.push({
                resumeNo: 0,
                potfolioFilename: element
            })
        });

        let activityArr = [];
        $('.act-board').each(function (index) {
            console.log($(this).data('name'));
            activityArr.push({
                resumeNo: 0,
                order: index + 1,
                startDate: $(this).find('.actStart').val(),
                endDate: $(this).find('.actEnd').val(),
                activityCenterName: $(this).find('.actCenterName').val(),
                activityContent: $(this).find('.actContents').val(),
                activityType: $(this).data('name')
            })
        })

        return {
            resume: basicResume,
            activity: activityArr,
            education: education,
            introduce: introArr,
            license: licenseArr,
            military: military,
            potfolio: potfolioArr,
            resumeSkill: skillList
        };
    }

    function resumeRegist() {
        let totalInfo = resumeTotalInfo();

        axios.post('/api/resume/create/full', totalInfo)
            .then(function (response) {
                console.log(response);
                if (response.data !== 0) {
                    alert("이력서 등록 성공");
                    upload(response.data);
                } else{
                    alert("어딘가 문제생김")
                }
            })
            .catch(function (error) {
                console.log(error);
            })
    }

    $("#portfileInput").on('change', function () {
        let files = $("#portfileInput")[0].files;
        for (let i = 0; i < files.length; i++) {
            uploadList.push(files[i].name);
        }
        console.log(uploadList);
        $(".portfolioAttach").val(uploadList);
    });

    function upload(resumeNo) {
        const files = $('#portfileInput')[0].files;
        const formData = new FormData();
        $.each(files, function (index, file) {
            formData.append('files', file);
        });
        axios.post('/api/file/upload/multiple?resumeNo=' + resumeNo, formData, {
            headers: {
                'Content-Type': 'multipart/form-data' // 파일 전송 시 반드시 지정
            }
        })
            .then(response => {
                response.data;
                console.log("파일 업로드 완료")
            })
            .catch(error => {
                console.error('파일 업로드 실패:', error);
            });
    }
</script>
</html>