<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<h2>구직자 커뮤니티</h2>
<hr>
<form th:action="@{/board/registform}" method="post">
    <input type="hidden" name="userId" th:value="${session.user.userId}"> 작성자 : [[${session.user.userId}]]
    <input type="text" name="title" placeholder="제목을 입력하세요"><br>
    <textarea name="content" placeholder="내용을 입력하세요"></textarea><br>
    <input type="submit" value="글 게시하기">
</form>
</body>
</html>