.title-container {
    display: flex;
    justify-content: center;
}

.content-title {
    font-weight: 600;
    font-size: 24px;
    margin-top: 23px;
}

.input-contents {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.main-tab {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    background-color: #8B1FFF;
    color: white;
    border: none;
    outline: none;
}

#input-container {
    width: 30%;
    min-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
}

#title-container {
    display: flex;
    justify-content: center;
}

#content-title {
    font-weight: 600;
    font-size: 24px;
    margin-top: 23px;
}

.purple-line {
    border: none;
    border-top: 2px solid #8B1FFF; /* 보라색 선 */
    margin: 0;
}

.address-container {
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    gap: 30px;
    align-items: center;
}

input, textarea {
    margin-top: 3px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #8B1FFF;
}

#input-container {
    width: 30%;
    min-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
}

.password-container {
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    gap: 10px;
    align-items: center;
}

.sub-btn {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    background-color: #B067FF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.fifty-top-margin {
    margin-top: 15px;
}

.modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 440px;
    height: 455px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.modal-img {
    align-self: end;
    margin-top: 16px;
    margin-right: 16px;
    cursor: pointer;
}

#modal-input {
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.updateBtn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    background-color: #8B1FFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.deleteBtn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    background-color: #FF4F27;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

textarea {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 280px;
}

.image-attach {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;
}

.preview {
    border-radius: 10px;
    width: 100%;
}

.img-btn {
    width: 20px;
    height: auto;
    cursor: pointer;
}

#close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
}
#plus-btn{
    display: none;
}