<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{layout/fragments/header ::  header}"></div>
<main>

    <h1>메인페이지</h1>
    <hr>
    <div th:if="${session.user != null}">
        <div th:if="${session.userType == 'U'}">
            <p th:text="'현재 구직자 아이디: ' + ${session.user.getUserId()}"></p>
        </div>
        <div th:if="${session.userType == 'C'}">
            <p th:text="'현재 기업 아이디: ' + ${session.user.getCompanyId()}"></p>
        </div>

    </div>

    <button onclick="location.href='/user/account/login'">구직자 로그인</button>
    <button onclick="location.href='/user/account/update'">구직자 정보수정</button>

</main>
<div th:replace="~{layout/fragments/footer :: footer}"></div>
</body>
</html>