<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구직자 로그인</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/user-regist.css}">
</head>
<body>
<div id="title-container">
    <div id="content-title">회원 가입</div>
</div>

<div id="input-container">
    <div class="tabs">
        <button class="tab active" id="individual-tab">개인회원</button>
        <button class="tab" id="business-tab">기업회원</button>
    </div>
    <hr class="purple-line">

    <div class="input-container">
        <div class="input-explain"><span class="red-point">* </span>아이디</div>
        <div class="id-container">
            <input type="text" id="userId" data-name="아이디" placeholder="아이디를 입력하세요" maxlength="20">
            <button class="duplicate-btn" onclick="duplicateCheck()">중복 확인</button>
        </div>
        <div class="input-explain"><span class="red-point">* </span>패스워드</div>
        <input type="text" class="eng-" id="userPw" data-name="비밀번호" placeholder="비밀번호를 입력하세요" maxlength="20">

        <div class="input-explain"><span class="red-point">* </span>패스워드 확인</div>
        <input type="text" id="userPwCheck" data-name="비밀번호 재입력" placeholder="비밀번호를 재입력하세요" maxlength="20">

        <div class="input-explain"><span class="red-point">* </span>이름</div>
        <input type="text" id="userName" data-name="이름" placeholder="이름을 입력하세요" maxlength="20">
        <div class="birth-and-gender-container">
            <div class="birth-container">
                <div class="input-explain"><span class="red-point">* </span>생년월일</div>
                <input type="text" id="userBirth" data-name="생년월일" placeholder="생년월일을 입력하세요" maxlength="8" style="width: 100%">
            </div>
            <div class="gender-container">
                <div class="input-explain"><span class="red-point">* </span>성별</div>
                <div class="gender-radio">
                    <input type="radio" id="gender-male" class="gender-radio" name="optionGender" value="M" />
                    <label class="gender-option radius-zero-right" for="gender-male" style="color: #E2E2E2;">남자</label>

                    <input type="radio" id="gender-female" class="gender-radio" name="optionGender" value="F"/>
                    <label class="gender-option radius-zero-left" for="gender-female" style="color: #E2E2E2;">여자</label>
                </div>
            </div>
        </div>

        <div class="input-explain"><span class="red-point">* </span>이메일</div>
        <input type="text" id="userEmail" data-name="이메일" placeholder="이메일을 입력하세요" maxlength="100">

        <div class="input-explain"><span class="red-point">* </span>휴대폰 번호</div>
        <input type="text" id="userPhone" data-name="휴대폰번호" placeholder="휴대폰번호를 입력하세요" maxlength="20">

        <button id="registBtn" onclick="regist()">회원가입</button>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/userRegist.js}"></script>
</body>
</html>