<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.void2.careermanagement.dao.ApplyDao">
    <insert id="insert">
        INSERT INTO tbl_aplc_hstr(job_post_no, resume_no)
        VALUES (#{jobPostNo}, #{resumeNo})
    </insert>
    <select id="checkApply">
        SELECT COUNT(resume_no)
        FROM tbl_aplc_hstr
        WHERE job_post_no = #{jobPostNo}
          AND resume_no IN
            (SELECT resume_no
            FROM tbl_resume
            WHERE user_id = #{userId})
    </select>
</mapper>