<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.void2.careermanagement.dao.BoardDao">
    <select id="getList" resultType="com.void2.careermanagement.dto.BoardDto">
        SELECT * FROM tbl_community
        ORDER BY community_no DESC
        LIMIT #{startNum}, 10
    </select>
    <select id="getListCnt" resultType="_int">
        SELECT COUNT(*) FROM tbl_community
    </select>
    <select id="getBoard" resultType="com.void2.careermanagement.dto.BoardDto">
        SELECT * FROM tbl_community WHERE community_no = #{communityNo}
    </select>
    <update id="increaseViewCnt" >
        UPDATE tbl_community
        SET viewCnt = viewCnt + 1
        WHERE community_no = #{communityNo}
    </update>
    <insert id="registBoard">
        INSERT INTO tbl_community VALUES (null, #{userId}, #{title}, #{content}, 0, #{createDate}, null)
    </insert>
    <update id="updateBoard">
        UPDATE tbl_community
        SET title = #{title}, content = #{content}, modify_date = #{modifyDate}
        WHERE community_no = #{communityNo}
    </update>
    <delete id="deleteBoard">
        DELETE FROM tbl_community
        WHERE community_no = #{communityNo}
    </delete>
</mapper>