<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.void2.careermanagement.dao.CommentDao">
        <select id="getListComment" resultType="com.void2.careermanagement.dto.CommentDto">
                SELECT * FROM tbl_comment WHERE community_no = #{communityNo}
        </select>
        <insert id="registComment">
                INSERT INTO tbl_comment (community_no, user_id, comment_content)
                VALUES(#{communityNo}, #{userId}, #{commentContent})
        </insert>
        <update id="update">
                UPDATE  tbl_comment
                SET comment_content = #{commentContent},
                comment_modify_date = now()
                WHERE comment_no = #{commentNo}
        </update>
        <delete id="delete">
                DELETE FROM tbl_comment
                WHERE comment_no = #{commentNo}
        </delete>
</mapper>