<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.void2.careermanagement.dao.CompanyDao">
    <select id="getHighRatingList" resultType="com.void2.careermanagement.response.CompanyResponseDto">
        SELECT c.company_name, c.company_address, j.title, j.start_date, c.company_image,
        IFNULL(SUM(s.score)/COUNT(s.user_id), 0) AS rating, j.job_history,
        IFNULL(j.end_date, '상시') AS end_date
        FROM tbl_job_post j
        LEFT JOIN tbl_company c ON j.company_id = c.company_id
        LEFT JOIN tbl_company_score s ON j.company_id = s.company_id
        WHERE j.start_date <= NOW() AND (j.end_Date IS NULL OR j.end_date >= NOW())
        GROUP BY j.job_post_no, j.company_id, c.company_name, c.company_address, j.title, j.start_date, j.end_date, c.company_image
        ORDER BY rating DESC LIMIT 6
    </select>
</mapper>