<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.void2.careermanagement.dao.IntroduceDao">
    <insert id="insertIntroduce" parameterType="IntroduceDto">
        INSERT INTO tbl_introduce
        (resume_no, title, content, `order`)
        VALUES
        <foreach collection="list" item="I" separator=",">
            (#{resumeNoPk}, #{I.title}, #{I.content}, #{I.order})
        </foreach>
    </insert>
</mapper>