<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.void2.careermanagement.dao.JobPostDao">
    <select id="maxJopPostNo">
        SELECT MAX(job_post_no) FROM tbl_job_post
    </select>
    <insert id="insertJobPost" parameterType="com.void2.careermanagement.dto.request.JobPostRequestDto">
        INSERT INTO tbl_job_post
        (job_post_no,
         company_id,
         title,
         work_code,
         job_history,
         job_salary,
         education_code,
         job_rank_code,
         work_type_code,
         start_date,
         end_date,
         content,
         work_condition,
         process,
         method,
         add_notice,
         manager_name,
         manager_phone,
         manager_email)
        VALUES (#{jobPost.jobPostNo},
                #{jobPost.companyId},
                #{jobPost.title},
                #{jobPost.workCode},
                #{jobPost.jobHistory},
                #{jobPost.jobSalary},
                #{jobPost.educationCode},
                #{jobPost.jobRankCode},
                #{jobPost.workTypeCode},
                #{jobPost.startDate},
                #{jobPost.endDate},
                #{jobPost.content},
                #{jobPost.workCondition},
                #{jobPost.process},
                #{jobPost.method},
                #{jobPost.addNotice},
                #{jobPost.managerName},
                #{jobPost.managerPhone},
                #{jobPost.managerEmail});
    </insert>
    <insert id="insertJobPostBenefit">
        INSERT INTO tbl_benefit
        VALUES
        <foreach collection="benefitList" item="benefit" separator=",">
            (#{jobPostNo}, #{benefit})
        </foreach>
    </insert>
    <insert id="insertJobPostSkill">
        INSERT INTO tbl_job_post_skill
        VALUES
        <foreach collection="skillList" item="skill" separator=",">
            (#{jobPostNo}, #{skill})
        </foreach>
    </insert>
    <select id="getJobDetail">
        SELECT
        A.job_post_no,
        A.company_id,
        company.company_name,
        company.company_address,
        company.company_address_detail,
        company.company_birth,
        company.company_image,
        company.company_email,
        company.company_employee,
        company.company_info,
        company.company_website,
        company.company_zonecode,
        A.title,
        A.job_history,
        A.job_salary,
        A.content,
        A.method,
        A.add_notice,
        A.manager_name,
        A.manager_email,
        A.manager_phone,
        A.education_code,
        A.job_rank_code,
        A.work_code,
        A.work_type_code,
        A.process,
        A.start_date,
        A.end_date,
        <!-- groupCodeList에서 각 항목의 NAME을 선택 -->
        <foreach collection="groupCodeList" item="groupCode" index="index" separator=",">
            ${groupCode}.NAME AS ${groupCode}_name
        </foreach>
        FROM
        tbl_job_post A
        LEFT JOIN tbl_company company ON A.company_id = company.company_id
        <!-- groupCodeList를 기반으로 LEFT JOIN 생성 -->
        <foreach collection="groupCodeList" item="groupCode" index="index">
            LEFT JOIN (
            SELECT *
            FROM tbl_gubn
            WHERE group_code = #{groupCode}
            ) ${groupCode}
            ON A.${groupCode}_CODE = ${groupCode}.CODE
        </foreach>
        WHERE
        job_post_no = #{jobPostNo}
    </select>
    <select id="selectBenefitList">
        SELECT benefit_content
        FROM tbl_benefit
        WHERE job_post_no = #{jobPostNo}
    </select>
    <select id="selectSkillList">
        SELECT A.skill_code AS code, B.name
        FROM tbl_job_post_skill A
                 LEFT JOIN (SELECT * FROM tbl_gubn WHERE group_code = 'skill') B ON A.skill_code = B.code
        WHERE job_post_no = ${jobPostNo}
    </select>
    <update id="updateJobPost">
        UPDATE tbl_job_post
        SET
            title          = #{jobPost.title},
            work_code      = #{jobPost.workCode},
            job_history    = #{jobPost.jobHistory},
            job_salary     = #{jobPost.jobSalary},
            education_code = #{jobPost.educationCode},
            job_rank_code  = #{jobPost.jobRankCode},
            work_type_code = #{jobPost.workTypeCode},
            start_date     = #{jobPost.startDate},
            end_date       = #{jobPost.endDate},
            content        = #{jobPost.content},
            work_condition = #{jobPost.workCondition},
            process        = #{jobPost.process},
            method         = #{jobPost.method},
            add_notice     = #{jobPost.addNotice},
            manager_name   = #{jobPost.managerName},
            manager_phone  = #{jobPost.managerPhone},
            manager_email  = #{jobPost.managerEmail}
        WHERE job_post_no = #{jobPost.jobPostNo};
    </update>
    <delete id="deleteBenefits">
        DELETE
        FROM tbl_benefit
        WHERE job_post_no = #{jobPostNo}
    </delete>
    <delete id="deleteSkillList">
        DELETE
        FROM tbl_job_post_skill
        WHERE job_post_no = #{jobPostNo}
    </delete>
    <select id="getJobPostListByCompanyId">
        SELECT
        A.job_post_no,
        A.company_id,
        company.company_name,
        company.company_address,
        company.company_address_detail,
        company.company_birth,
        company.company_image,
        company.company_email,
        company.company_employee,
        company.company_info,
        company.company_website,
        company.company_zonecode,
        A.title,
        A.job_history,
        A.job_salary,
        A.content,
        A.method,
        A.add_notice,
        A.manager_name,
        A.manager_email,
        A.manager_phone,
        A.education_code,
        A.job_rank_code,
        A.work_code,
        A.work_type_code,
        A.process,
        A.start_date,
        A.end_date,
        <!-- groupCodeList에서 각 항목의 NAME을 선택 -->
        <foreach collection="groupCodeList" item="groupCode" index="index" separator=",">
            ${groupCode}.NAME AS ${groupCode}_name
        </foreach>
        FROM
        tbl_job_post A
        LEFT JOIN tbl_company company ON A.company_id = company.company_id
        <!-- groupCodeList를 기반으로 LEFT JOIN 생성 -->
        <foreach collection="groupCodeList" item="groupCode" index="index">
            LEFT JOIN (
            SELECT *
            FROM tbl_gubn
            WHERE group_code = #{groupCode}
            ) ${groupCode}
            ON A.${groupCode}_CODE = ${groupCode}.CODE
        </foreach>
        WHERE
        A.company_id = #{companyId}
    </select>
    <delete id="deleteJobPost">
        DELETE FROM tbl_job_post
        WHERE job_post_no = #{jobPostNo}
    </delete>
</mapper>