<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.void2.careermanagement.dao.MilitaryDao">
    <insert id="insertMilitary" parameterType="MilitaryDto">
        INSERT INTO tbl_military
        (resume_no, enlist_date, release_date, military_code)
        VALUES
        (#{resumeNoPk}, #{M.enlistDate}, #{M.releaseDate}, #{M.militaryCode})
    </insert>
    <select id="getMilitaryById" resultType="com.void2.careermanagement.dto.MilitaryDto">
        SELECT resume_no,
        enlist_date,
        release_date,
        military_code
        FROM tbl_military
        WHERE resume_no = #{resumeNo}
    </select>
</mapper>
