<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.void2.careermanagement.dao.UserAccountDao">
    <select id="loginUserSelect" resultType="com.void2.careermanagement.dto.UserDto">
        SELECT *
        FROM tbl_user
        WHERE user_id = #{userId}
          AND user_pw = #{userPw};
    </select>
    <insert id="userInsert">
        INSERT INTO tbl_user
        VALUES (#{U.userId},
                #{U.userPw},
                #{U.userName},
                #{U.userPhone},
                #{U.userEmail},
                #{U.userGender},
                #{U.userBirth},
                DEFAULT,
                NULL)
    </insert>
    <select id="findUserIdSelect" resultType="_integer">
        SELECT COUNT(*) FROM tbl_user WHERE user_id=#{userId}
    </select>
    <update id="userUpdate">
        UPDATE tbl_user
        SET
            user_pw = #{U.userPw},
            user_name = #{U.userName},
            user_phone = #{U.userPhone},
            user_email = #{U.userEmail},
            user_gender = #{U.userGender},
            user_birth = #{U.userBirth},
            user_modify_date = CURRENT_TIMESTAMP()
        WHERE
            user_id = #{U.userId}
    </update>
    <delete id="userDelete">
        DELETE FROM tbl_user WHERE user_id=#{userId}
    </delete>
    <select id="sessionSelect" resultType="com.void2.careermanagement.dto.UserDto">
        SELECT * FROM tbl_user WHERE user_id=#{userId}
    </select>
</mapper>